.current {
    font-weight: bold;
    background-color:rgba(183, 183, 183, 0.171) !important;
    border-radius: 10px;
}

.navbar {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(212, 210, 210, 0.128) !important;
}

.navbar-nav, .active {
    border-radius: 10px;
    padding: 8px;
}